# The .gitignore file filters junk we don't want when we're pulling/pushing
# our repos, keeping the air between us clear and beautiful. =)
#
.jxbrowser-data/
.metadata/
.targetConfigs/
.launches/
dvt/
RemoteSystemsTempFiles/
Debug/
Release/
Bivalvia_Lab3/.jxbrowser-data/
Bivalvia_Lab3/.metadata/
Bivalvia_Lab3/.launches
Bivalvia_Lab3/.gitignore
Bivalvia_Lab3/dvt/
Bivalvia_Lab3/RemoteSystemsTempFiles/
Debug/
Release/
